@media only screen and (max-width: 819px ){
    /* burger section starts  */
    .burger{

        display: block;
    }
    .h-nav-resp{
        height: 160px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .head-h {
        height: 36px;
        transition:all 0.7s ease-out;
    }
    
    .navbar{
        /* height: 80px; */
        /* transition:all 0.7s ease-out; */

    }

    /* burger section ends */
    .menu-icon{
        height: 30px;
        /* margin: 2px 15px; */
        cursor: pointer;
        /* display: ruby; */
        
      }
    .nav-list{
         flex-direction: column;
         
         }
 
     .secondHalf img{
         display: none;
     }
 
     .box-main{
         text-align: center;
         justify-content: center;
         max-width: 100%;
         flex-direction: column-reverse;
         height: 460px;
     }
     /* nav bar section starts */
     header{
         width: 94%;
         margin: 0px 0px;
         display: flex;
         flex-direction: column;
     }
     header ul{
         display: flex;
         flex-direction: column;
     }
     header .navbar  ul li a{
         cursor: pointer;
         font-size: 1.5rem;
     }
     header .logo{
        font-size: 31px;
        width: 62%;
        height: 50px;
    }
    header .navbar  ul li a:hover{
        color: #0098a1;
    }
         
     
     /* nav section ends  */
     .text-big{
         margin-top: 60px;
         font-size: 65px;
     }
 
     .fistSection{
         flex-direction: column-reverse;
     }
 
     .secRight{
         flex-direction: column-reverse;
     }
 
     .secLeft{
         flex-direction: column-reverse;
     }
     
     .ImgFluid{
         /* height: 90px; */
         margin: 62px;
         width: 60%;
     }
 
     .sectionSubTag{
         padding: 30px;
     }
    .info{
        display: flex;
        flex-direction: column;
    }
    .ourimg{
        margin: auto;
    }
 

 
 /* footer section  */
.footer-col-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer{
    display: block;
    padding: 1px 0px;
    padding-top: 20px;
}



}
/* media query for less than 600 screen size */
@media only screen and (max-width: 600px){
    
    .row{
       text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }


}




















































































































































































