@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Open+Sans:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* burger section starts */
.burger{
    display: none;
position: absolute;
cursor: pointer;
right: 8%;
top: 15px;
}


.line{
    width: 33px;
    background-color: black;
    height: 4px;
    margin: 3px 3px;
}


/* burger section ends */
.heading{
    color: #333;
    font-size: 3.5rem;
    padding: 1rem;
    padding-top: 6rem;
    text-align: center;
    letter-spacing: .2rem;
}
.heading span{
    color: #0098a1;
}
/*body{
    background: #333;
    height: 3000;
}
img{
    vertical-align: middle;
    border-style: none;
  }*/
  .menu-icon{
    height: 30px;
    margin: 2px 15px;
    cursor: pointer;
    display: none;
  }
header{
  width: 96%;
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top:1.5rem; left:50%;
  transform: translateX(-50%);
  border-radius: .5rem;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  padding:.3rem 2rem;
  transition: .2s linear;
  z-index: 1000;
}

.header-active{
  top:0;
  width:100%;
  border-radius: 0;
}

header .logo{
  color:#333;
  font-size: 3rem;
  text-decoration: none;
}

header .logo span{
  color:#0098a1;
}

header .navbar ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0; padding:0;
}

header .navbar ul li{
  margin:0 1rem;
}

header .navbar ul li a{
  font-size: 2rem;
  color:#333;
  transition: .2s linear;
  text-decoration: none;
}


/* header .navbar ul li .active, */
header .navbar ul li a:hover{
  color: #0098a1;
}

header .fa-bars{
  font-size: 3rem;
  color:#0098a1;
  cursor: pointer;
  display: none;
}


/* .navbar{
    display: flex;
    height: 45px;
    position: sticky;
    

} */

/* .nav-list{
    width: 100%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: white;
} */

/* .nav-list li{
    list-style: none;
    padding: 30px;

}

.nav-list li a{
    text-decoration: none;
    font-size: small;
     color: white;
} */

.rightNav{

    /* background-color: rebeccapurple; */
    width: 50%;
    text-align: center;
    padding: 0;
    height: 45px;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    border: 2px bold white;


} 

.logo img{
    width: 32%
    
    }
 
#search{
    margin: 12px;
    border: 2px bold white;
    border-radius: 4px;
}    

/* .nav-list li a:hover{
    color: brown;
} */

.btn{
    cursor: pointer;
    padding: 10px;
    margin: 12px 0px;
    border-radius: 3px;
    background-color: black;
    color: white;
}

.background{
    background: rgba(0, 0,0, 9) url('../images/background.jpg');
    background-size: cover;
    background-blend-mode: lighten;
    opacity: 0.9999;
    /* z-index: 1; */
    
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    
}

.fistSection{
    height: 360px;
}

.fistHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.secondHalf{
    width: 30%;

}

.secondHalf img{
    width: 50%;
    padding: 0px 100px;
}

.text-big{
    font-size: 70px  ;
    font-family: 'Kalam', cursive;
    text-align: center;
    line-height: 1;
    margin-top: 50px;

}

.text-small{
    font-size: 28px;
    font-family: 'Kalam', cursive;
    text-align: center;

}

.secRight{
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* font-family: 'Pontano Sans', sans-serif; */
    font-family: 'Kalam', cursive;
    /* border: 2px orange;
    box-shadow: 0px 6px 13px 0px orange; */

}
.secLeft{
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: row-reverse;
    /* font-family: 'Pontano Sans', sans-serif; */
    font-family: 'Kalam', cursive;
    /* border: 2px orange;
    box-shadow: 0px 6px 13px 0px orange; */

}

.ImgFluid{
    height: 250px;
    margin: 50px;
    border: 2px solid black;
    border-radius: 5px;
}


.paras{
    margin: 20px;
}

.sectionTag{
    font-size: 30px;
    margin: 10px 25px;
    font-family: 'Kalam', cursive;
    color: #0098a1;

}

.sectionSubTag{
    font-size: 18px;
    font-family: 'Kalam', cursive;
    margin: 0px 30px;
}

.text-footer{
    text-align: center;
    padding: 20px;
    font-size: 15px;

}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.ourimg{
    height: 280px;
    width: 265px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oursection{
    /* width: 24.99999%; */
    margin: 30px 50px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px grey;
    cursor: pointer;
}
.oursection:hover{
    /* translate: 200px 50px; */
    /* transform: translateX(3%); */
    /* transform: translateX(-1%); */
    

}

.contributors{
    font-family: 'Kalam', cursive;
    text-align: center;
    margin-top: 20px;
    color: #0098a1;

}
.link{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kalam', cursive;

}




/* footer  */
.footer{
    /* background: #000; */
    background-color: #0098a1;
    /* color: #8a8a8a; */
    color: white;
    font-size: 15px;
    padding: 25px 0 10px;
    display:flex;
    padding: 23px 187px;
}
.container{
    /* background-color: black; */
}
.footer p{
    /* color: #8a8a8a; */
    color: white;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
    cursor: pointer;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
 margin-top: 20px;   
}
.app-logo img{
    width: 140px;
}
.footerlogo{
    color: white;
}
.footer hr{
    border: none;
    background: #b5b5bb;
    
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
    background-color: black;
    /* color: #8a8a8a; */
    color: white;
    padding: 10px 0px;
}
.hrline{
    /* width: 2px; */
    color: #8a8a8a;
    background-color:#8a8a8a ;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
    
}
/* all products page */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
.footer-col-3 ul li a{
     text-decoration: none;
     /* color: #8a8a8a; */
     color: white;
}
.footer-col-3 ul li a:hover{
    color:black;
}
/* .row{
    display: flex;
    flex-direction: column;
} */



