@media only screen and (max-width: 1058px){

    /* burger section starts  */
    .burger{

       display: block;
   }
   .h-nav-resp{
       height: 170px;
       /* transition:all 5.7s ; */


   }
   .v-class-resp{
       opacity: 0;
   }
   .head-h {
       height: 36px;
       /* transition:all 5.7s ; */

   }
   .scroll-class{
       /* transition: all 0.5s ease-out; */
   }
   
   .navbar{
       /* height: 80px; */
       /* transition:all 5.7s ; */

   }

   /* burger section ends */

   .menu-icon{
       height: 30px;
       /* margin: 2px 15px; */
       cursor: pointer;
       /* display: ruby; */
       
     }
   .nav-list{
        flex-direction: column;
       /* transition:all 5.7s ; */
        
        }
    header{
        width: 94%;
        margin: 0px 0px;
        display: flex;
        flex-direction: column;
    }
    header ul{
        display: flex;
        flex-direction: column;
    }
    header .navbar  ul li a{
        cursor: pointer;
        font-size: 1.8rem;
    }
    header .logo{
       font-size: 25px;
       width: 62%;
       height: 50px;
   }
  
   

   /* #services{
       flex-direction: column;
   } */
   
   .secRight{
       flex-direction: column-reverse;
       box-shadow: 5px 5px 5px 3px gray;
       margin: 10px 10px;
   }

   .secLeft{
       flex-direction: column-reverse;
       box-shadow: 5px 5px 5px 3px gray;
       margin: 10px 10px;
   }
   
   .ImgFluid{
       /* height: 90px; */
       margin: 70px;
       width: 50%;
   }

   .sectionSubTag{
       padding: 30px;
   }
   #navbar{
    flex-direction: column;
    display: none;
}
   /* #home{
       height: 700px;
       flex-direction: column;
       padding: 2px 50px;
    }
    
    #home ::before{
        height: 400px;
    }
    
    #navbar{
       flex-direction: column;
       display: none;
   }

   #home p{
       font-size: 16px;
   }

   .btn{
       display: none;
   } */

   /* .h-primary{
       font-size: 25px;
   } */

   /* #services .box{
   } */

   /* #services .box img{
       height: 200px;
       display: block;
       margin: auto;
       border: 2px solid black;
       width: 100%;
       
   } */
   /* footer section  */
.footer-col-1{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.footer{
   display: block;
   padding: 1px 0px;
   padding-top: 20px;
}
 /* animation section starts  */
 .ml1{
   font-size: 2.5rem;
   font-weight: 900;
}

}
@media(max-width:768px){
    .video{
        flex-flow: column;
        padding: 1.4rem;
    }
    .video .content{
        text-align: center;
    }
    .video .content h1{
        font-size: 5.5rem;
    }
    .video .content p{
        font-size: 1.8rem;
        padding: 0;
        border: none;
    }
    .content p{
        font-size: 2.4rem;
        padding: 0;
        border: none;
    }
}
/* @media(max-width:600px){
   
    html{
      font-size: 60%;
    }
    header .fa-bars{
      display: block;
    }
    header .navbar{
      position: fixed;
      top: -100rem; left: 50%;
      transform: translateX(-50%);
      width: 100%;
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,.3);
      z-index: 1000;
      transition: .2s linear;
      opacity:0;
    }
    header .navbar ul{
      flex-flow: column;
    }
    header .navbar ul li{
      margin: 1rem 0;
      width:100%;
      text-align: center;
    }
    header .navbar ul li a{
    display: block;
    font-size: 3rem;
    }
} */