@media only screen and (max-width: 819px ){

    .nav-list{
         flex-direction: column;
         
         }
 
     .secondHalf img{
         display: none;
     }
 
     .box-main{
         text-align: center;
         justify-content: center;
         max-width: 100%;
         flex-direction: column-reverse;
     }
 
     .fistSection{
         flex-direction: column-reverse;
     }
 
     .secRight{
         flex-direction: column-reverse;
     }
 
     .secLeft{
         flex-direction: column-reverse;
     }
     
     .ImgFluid{
         /* height: 90px; */
         margin: 70px;
         width: 50%;
     }
 
     .sectionSubTag{
         padding: 30px;
     }

     .navbar{
         display: none;
     }
 
 
 
 
 
 }