@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    height: 45px;
    position: sticky;
    

}

.nav-list{
    width: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    /* background-color: white; */
}

.nav-list li{
    list-style: none;
    padding: 30px;

}

.nav-list li a{
    text-decoration: none;
    font-size: small;
     color: white;
}

.rightNav{

    /* background-color: rebeccapurple; */
    width: 50%;
    text-align: center;
    padding: 0;
    height: 45px;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    border: 2px bold white;


} 

.logo img{
    width: 32%
    
    }
 
#search{
    margin: 12px;
    border: 2px bold white;
    border-radius: 4px;
}    

.nav-list li a:hover{
    color: brown;
}

.btn{
    cursor: pointer;
    padding: 10px;
    margin: 12px;
    border-radius: 3px;
    background-color: black;
    color: white;
}

.background{
    background: rgba(0, 0,0, 9) url('../img/background.jpeg');
    background-size: cover;
    background-blend-mode: lighten;
    opacity: 0.99999;
    /* z-index: 1; */
    
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    
}

.fistSection{
    height: 360px;
}

.fistHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.secondHalf{
    width: 30%;

}

.secondHalf img{
    width: 50%;
    padding: 0px 100px;
}

.text-big{
    font-size: 45px  ;
}

.text-small{
    font-size: 27px;
}

.secRight{
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: 'Pontano Sans', sans-serif;
}
.secLeft{
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: row-reverse;
    font-family: 'Pontano Sans', sans-serif;
}

.ImgFluid{
    height: 250px;
    margin: 50px;
    border: 2px solid black;
}

.paras{
    margin: 20px;
}

.sectionTag{
    font-size: 30px;
}

.sectionSubTag{
    font-size: 18px;
}

.text-footer{
    text-align: center;
    padding: 20px;
    font-size: 15px;

}

